.bag {
    width: 57.5%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 2.5vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(250, 250, 250);
    overflow-y: auto;
    z-index: 999999;
    pointer-events: auto;
    scrollbar-color: rgb(35, 35, 35) rgb(220, 220, 220);
    opacity: 0;
    transform: translateX(100%); // Początkowo ukryty poza ekranem
    transition: transform .2s ease-in-out, opacity .125s ease-in-out;
    &.open {
        transition: transform .3s ease-in-out, opacity .325s ease-in-out;
        opacity: 1;
        transform: translateX(0);
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.825);
        backdrop-filter: blur(20px);
        pointer-events: auto;
    }
    * {
        &::selection {
            background-color: #000;
            color: #fff;
        }
    }
    .bag__top__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 92.5%;
        //padding: 0 0.75rem;
        margin: 0 auto 3rem;
        h2 {
            font-family: "Be Vietnam Pro", sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
    .products-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0.25rem;
    }
    .bag__products {
        width: 92.5%;
        margin: 0 auto;
        color: #000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0 0.75rem;
        border-bottom: 1px solid rgb(150, 150, 150);
        &:hover {
            .product-name-wrapper .product-name .product_link {
                text-decoration: underline;
            }
        }
        &.categories-top-bar {
            border-bottom: 2px solid #000;
            color: rgb(160, 160, 160);
            padding: 0rem 0 0.1rem;
            text-transform: uppercase;
            li {
                font-family: "Lexend Deca", sans-serif !important;
                font-size: 1.25rem;
                font-weight: 400;
                letter-spacing: -0.5px;
                &:nth-of-type(1) {
                    width: 45%;
                    justify-content: flex-start;
                }
                &:nth-of-type(2) {
                    width: 25%;
                    justify-content: center;
                }
                &:nth-of-type(3) {
                    width: 12.5%;
                    justify-content: center;
                }
                &:nth-of-type(4) {
                    width: 17.5%;
                    justify-content: flex-end;
                }
            }
        }
        .product-name-wrapper {
            display: flex;
            justify-content: space-between !important;
            align-items: center;
            flex-direction: row;
        }
        .product-name {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .product_link {
                font-family: "Lexend Deca", sans-serif;
                font-size: 21px;
                font-weight: 600 !important;
                letter-spacing: -0.5px;
                cursor: pointer;
                transition: .2s ease-in;
            }
            .remove_product-icon {
                font-family: "Lexend Deca", sans-serif;
                font-size: 15px;
                font-weight: 300 !important;
                letter-spacing: -0.5px;
                color: rgb(125, 125, 125);
                padding: 0;
                margin-top: 1px;
                text-transform: uppercase;
                user-select: none;
                cursor: pointer;
                transition: .14s ease-in-out;
                &:hover {
                    color: #bc0000;
                }
            }
        }
        .thumbnail-image {
            width: 30%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 1/1.35;
            box-shadow: 0px 0px 1px 0px #000;
            cursor: pointer;
        }
        li {
            font-size: 1.25rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            list-style: none;
            transition: .125s;
            &:nth-of-type(1) {
                width: 45%;
                justify-content: flex-start;
            }
            &:nth-of-type(2) {
                width: 25%;
                justify-content: center;
                font-family: 'Be Vietnam Pro', sans-serif;
            }
            &:nth-of-type(3) {
                width: 12.5%;
                justify-content: center;
                font-family: 'Inter', sans-serif;
            }
            &:nth-of-type(4) {
                width: 17.5%;
                justify-content: flex-end;
            }
        }
    }
    .bag__checkout {
        width: 90%;
        margin: 5vh auto 7vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
            font-family: 'Be Vietnam Pro', sans-serif;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: -0.75px;
            width: 30%;
            color: rgb(125, 125, 125);
            padding: 1rem 0 0.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-family: 'Be Vietnam Pro', sans-serif;
                font-weight: 600;
                color: #000;
                margin-left: 5px;
                display: flex;
            }
        }
        button {
            position: relative;
            width: auto;
            min-width: 30%;
            background: #000;
            border: 2px solid #000;
            padding: 1rem 1.25rem;
            border-radius: 50px;
            user-select: none;
            cursor: pointer;
            transition: .2s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 4rem;
            .price {
                position: absolute;
                top: 50%;
                left: 8%;
                transform: translate(0%, -50%);
                font-family: "Lexend Deca", sans-serif;
                font-family: 'Inter', sans-serif;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0px;
                color: #fff;
                padding: 0;
                transition: .225s ease-in-out;
            }
            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-family: "Urbanist", sans-serif;
                font-size: 19px;
                font-weight: 500;
                z-index: 10;
                transition: .275s ease-in;
            }
            .icon {
                color: #fff;
                font-size: 19px;
                z-index: 10;
                transition: .225s ease-in-out;
            }
            .icon_wrapper {
                z-index: 0;
                height: 90%;
                width: 67.5%;
                background-color: #fff;
                background: rgb(35, 35, 35);
                color: #fff;
                border-radius: 50px;
                position: absolute;
                right: 1%;
                top: 0;
                transform: translate(0%, 5%);
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                transition: .225s ease-in-out;
            }
            &:hover {
                .icon_wrapper {
                    background-color: #fff;
                    width: 20%;
                    height: 54px;
                    width: 54px;
                }
                .price {
                    // transform: translateX(125%);
                    left: 50%;
                    transform: translate(-25%, -50%);
                }
                span {
                    opacity: 0;
                    transition: .15s ease-out;
                }
                .icon {
                    color: #000;
                    transform: rotate(-45deg);
                }
            }
            /*
            &:hover {
                .price {
                    transform: translateX(125%);
                }
                .icon_wrapper {
                    background-color: #fff;
                    width: 25%;
                    justify-content: center;
                    span {
                        //  opacity: 0;
                        //  visibility: hidden;
                        transform: translateX(-450%);
                    }
                    .icon {
                        color: #000;
                        transform: rotate(-45deg);
                        transform: translateX(100%);
                    }
                }
            } */
        }
    }
}

.bag-placeholder {
    display: none;
}

.bag-placeholder-image {
    width: 9% !important;
}

.disable__pointers {
    pointer-events: none;
    user-select: none;
}

.disable__scroll {
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    position: fixed; // Zapobiega przewijaniu na urządzeniach mobilnych
    width: 100%; // Zablokowanie przesunięcia strony
}

#close__icon {
    user-select: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: #000;
    transition: .15s ease-in-out;
    border-radius: 50%;
    padding: 5px;
    &:hover {
        color: #fff;
        background-color: #000;
        scale: 1.075;
    }
}

.bag__reference {
    transition: .3s ease-in-out;
}

.bag__reference:hover,
.header__products:hover {
    color: #fff;
}

.mobile__ul:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

//! BREAKPOINT: 1440px
@media (max-width: 1550px) {
    .bag {
        width: 60%;
    }
}

@media (max-width: 1400px) {
    .bag {
        width: 65%;
    }
}

//! BREAKPOINT: 1366px
@media screen and (max-width: 1370px) {
    .bag .bag__checkout button {
        min-width: 35%;
        .price {
            font-size: 18px;
        }
        span {
            font-size: 18px;
        }
    }
}

//? BREAKPOINT: 1280px x 720
@media screen and (max-width: 1285px) {
    .bag {
        width: 70%;
    }
}

@media (max-width: 1100px) {
    .bag {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .bag {
        width: 90vw;
    }
    .bag__products {
        width: 92.5%;
    }
    .bag__products img {
        width: 55px;
    }
    #close__icon {
        font-size: 2.75rem;
    }
}

@media (max-width: 660px) {
    .bag {
        width: 100%;
        height: 120%;
    }
    .bag__products {
        width: 95%;
        padding: 0 .125rem 1.25rem;
    }
    .bag__products img {
        display: none;
    }
    #close__icon {
        font-size: 2.5rem;
    }
}

@media (max-width: 550px) {
    .bag {
        .bag__products .product-name .product_link {
            text-wrap: nowrap;
            font-size: 1.2rem;
        }
        .bag__products.categories-top-bar li {
            font-size: 16px;
        }
        .bag__checkout p {
            width: auto;
        }
        .bag__products .product-name .remove_product-icon {
            font-size: 14px;
            letter-spacing: -0.25px;
        }
    }
}

//* iPhone 15 Pro Max
@media (max-width: 450px) {
    .bag {
        .bag__products {
            padding: 0.75rem 0;
            .product-name .product_link {
                font-size: 20px;
            }
            li {
                font-size: 18px;
            }
            &.categories-top-bar li {
                font-size: 15px;
            }
        }
        .bag__checkout button {
            min-width: 65%;
            height: 3.75rem;
        }
    }
}

//* iPhone 15 Pro
@media screen and (max-width: 400px) {
    .bag .bag__checkout button {
        min-width: 72.5%;
        padding: 14px 1.25rem;
        height: 3.5rem;
    }
}