//! ABOUT  COMPANY
.aboutCompany {
    height: auto;
    background-color: white;
    color: black;
    margin-bottom: 15vh;
    .video-container {
        position: relative;
        width: 100%;
        video {
            filter: brightness(40%);
            width: 100%;
            height: 67.5vh;
            object-fit: cover;
            object-position: center;
        }
        .video-text {
            mix-blend-mode: difference;
            font-family: "Switzer", sans-serif;
            font-size: 9.5rem;
            font-size: clamp(5rem, 9vw, 10rem);
            font-weight: 700;
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            letter-spacing: 6px;
            color: #fff;
            pointer-events: none;
        }
    }
}

.aboutCompany__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 77.5%;
    margin: 0 auto;
    padding-bottom: 10vh;
    * {
        &::selection {
            background-color: #000;
            color: #fff;
        }
    }
    article {
        width: 50%;
        .aboutCompany__description {
            width: 75%;
            display: flex;
            flex-direction: column;
            h2 {
                font-family: "Be Vietnam Pro", sans-serif;
                font-family: 'Switzer', sans-serif;
                font-size: 6rem;
                font-weight: 700;
                word-spacing: 7px;
                margin-bottom: 2.5rem;
            }
            p {
                font-family: 'Inter', sans-serif;
                font-size: 1.25rem;
                font-weight: 400;
                line-height: calc(1.25rem * 1.4);
                text-align: justify;
                color: rgb(115, 115, 115);
                span {
                    font-family: "Lexend Deca", sans-serif;
                    font-size: calc(1.25rem + 1px);
                    font-weight: 600;
                    color: #000;
                    margin-right: 3px;
                }
            }
            .view_more {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                margin-top: 3.5rem;
                width: fit-content;
                a {
                    font-family: "Be Vietnam Pro", sans-serif;
                    font-family: 'Switzer', sans-serif;
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: #000;
                    border-bottom: 2px solid #000;
                    text-decoration: none;
                    word-spacing: 2px;
                }
                .icon {
                    margin-left: 0.6rem;
                    transition: .225s ease;
                    color: rgb(150, 150, 150);
                }
                &:hover {
                    .icon {
                        transform: translateX(42.5%);
                        color: #000;
                    }
                }
            }
        }
    }
    .aboutCompany__item__image {
        height: 87.5vh;
        width: 40%;
        z-index: 5;
        margin-top: -10vh;
        background-color: #000;
        border-radius: 44px;
        padding: 14px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        * {
            user-select: none;
        }
        &:hover {
            .image-container img {
                transform: scale(1.15);
            }
        }
        .image-container {
            height: 75%;
            width: 100%;
            border-radius: 30px;
            overflow: hidden;
            img {
                overflow: hidden;
                object-fit: cover;
                height: 100%;
                width: 100%;
                display: flex;
                border-radius: 30px;
                margin: 0 auto;
                transform-origin: top;
                transition: .55s cubic-bezier(.4, 0, .2, 1);
            }
        }
        h3 {
            font-family: "Raleway", sans-serif;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.5px;
            text-align: center;
            margin: 2.5rem 0 0.25rem;
            color: #fff;
            span {
                font-style: italic;
            }
        }
        p {
            font-family: "Inter", sans-serif;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.3;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            color: rgb(175, 175, 175);
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            margin: 2rem auto 1rem;
            border: 1px solid #000;
            outline: none;
            background-color: #000;
            background: linear-gradient(90deg, #151515, #737373);
            border-radius: 50px;
            padding: 0.4rem 1.25rem;
            padding-right: 6px;
            cursor: pointer;
            transition: 0.225s ease-in-out;
            width: 27.5%;
            .text {
                font-family: "Be Vietnam Pro", sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: #fff;
                line-height: 1;
                margin: 0;
                width: auto;
            }
            .icon_wrapper {
                position: relative;
                background-color: #fff;
                border-radius: 50%;
                height: 2rem;
                width: 2rem;
                .arrow-icon {
                    font-size: 22px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #000;
                    transform: translate(-50%, -50%);
                    transform-origin: 0 0;
                    transition: .3s cubic-bezier(.4, 0, .2, 1);
                }
            }
            &:hover {
                border-color: rgb(140, 140, 140);
                .arrow-icon {
                    transition: .3s cubic-bezier(.4, 0, .2, 1);
                    rotate: 45deg;
                }
            }
        }
    }
}

.goals_section {
    width: 70%;
    margin: 15vh auto 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    * {
        &::selection {
            background-color: #000;
            color: #fff;
        }
    }
    .goals_content {
        margin-top: 2.5vh;
        display: flex;
        flex-direction: column;
        width: 50%;
        h2 {
            font-family: 'Switzer', sans-serif;
            //font-family: 'Inter';
            font-size: 2.75rem;
            font-weight: 700;
            letter-spacing: -0.5px;
            word-spacing: 4px;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }
        .goals_accordion {
            display: flex;
            flex-direction: column;
            .accordion-item {
                padding: 1.5rem 2rem;
                border-radius: 10px;
                border: 2px solid rgb(215, 215, 215);
                width: 100%;
                position: relative;
                margin-bottom: 1.5rem;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) inset;
                cursor: pointer;
                transition: .1s ease-in-out;
                &:hover {
                    border-color: rgb(170, 170, 170);
                }
                &.active {
                    border-color: #000;
                    transition: .35s;
                    cursor: auto;
                    .heading_bar {
                        margin-bottom: 1.5rem;
                    }
                    .content-reveal {
                        grid-template-rows: 1fr;
                        transition: .45s cubic-bezier(.4, 0, .2, 1);
                        .description {
                            opacity: 1;
                            transition: .425s cubic-bezier(.4, 0, .2, 1);
                        }
                        a {
                            opacity: 1;
                            visibility: visible;
                            transition: .425s cubic-bezier(.4, 0, .2, 1);
                        }
                    }
                }
                .heading_bar {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0rem;
                    h3 {
                        font-family: "Be Vietnam Pro", sans-serif;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                    p {
                        font-family: 'Switzer', sans-serif;
                        font-size: 14.5px;
                        opacity: 0.25;
                        user-select: none;
                        letter-spacing: 0.25px;
                    }
                }
                .content-reveal {
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: .2s ease-out;
                    &>div {
                        overflow: hidden;
                    }
                    .description {
                        font-family: "Inter", sans-serif;
                        font-size: 17px;
                        font-weight: 400;
                        text-wrap: balance;
                        line-height: 1.4;
                        margin-bottom: 4rem;
                        color: rgb(75, 75, 75);
                        opacity: 0;
                        transition: .2s ease-out;
                    }
                    a {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: #000;
                        //background-image: linear-gradient(90deg, rgb(255, 255, 255), black 72.5%);
                        color: #fff;
                        width: 100%;
                        padding: 0.75rem;
                        font-size: 15px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        visibility: hidden;
                        opacity: 0;
                        transition: .2s ease-out;
                        &.lime {
                            // background-image: linear-gradient(90deg, rgb(134, 235, 134), black 90%);
                        }
                        &.craft {
                            //background-image: linear-gradient(90deg, darkblue, black 90%);
                        }
                        .arrow-icon {
                            margin-left: 0.25rem;
                            font-size: 15px;
                            transition: .2s ease-in-out .1s;
                        }
                        &:hover {
                            .arrow-icon {
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }
        }
    }
    .images_wrapper {
        width: 50%;
        img {
            height: 67.5vh;
            width: 75%;
            display: flex;
            margin: 0 auto;
            border-radius: 30px;
            object-fit: cover;
            object-position: bottom;
            opacity: 0;
            animation: initialShow .1s forwards;
            &.showUp {
                animation: showOnChange .425s ease-in forwards;
            }
        }
    }
}

@keyframes initialShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showOnChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//! QUOTE
.quoteSection {
    text-align: center;
    background-color: rgb(220, 220, 220);
    background-image: linear-gradient(to bottom, #d7d7d7, #e0e0e0, #e8e8e8, #f1f1f1, #fff);
    padding: 7.5vh 0 10vh;
    margin: 5vh auto;
    //background-image: url('/testimg5.jpg');
    background-position: center;
    background-size: cover;
    .quote {
        font-family: "Urbanist", sans-serif;
        font-size: 2.4rem;
        font-weight: 600;
        color: #000;
        width: 60%;
        margin: 0 auto;
        text-wrap: balance;
    }
    .author {
        font-family: "Lexend Deca", sans-serif;
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: rgb(150, 150, 150);
        margin: 3.5rem auto 0;
        user-select: none;
    }
    * {
        &::selection {
            background-color: #000;
            color: #fff;
        }
    }
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}

//! BREAKPOINT: 1566px
@media screen and (max-width: 1600px) {
    .aboutCompany__container {
        width: 85%;
        .aboutCompany__item__image {
            height: 90vh;
            .button {
                width: 30%;
            }
        }
    }
    .goals_section {
        width: 80%;
        .images_wrapper img {
            height: 75vh;
        }
    }
}

//! BREAKPOINT: 1440px
@media screen and (max-width: 1500px) {
    .aboutCompany .video-container video {
        height: 60vh;
    }
    .aboutCompany__container {
        width: 87.5%;
        article .aboutCompany__description {
            width: 85%;
            h2 {
                font-size: 5rem;
                letter-spacing: -2px;
            }
        }
        .aboutCompany__item__image {
            width: 45%;
            height: 90vh;
            margin-top: -10vh;
            h3 {
                margin-top: 2rem;
            }
            button {
                margin: 1.5rem auto 0.75rem;
            }
        }
    }
    .goals_section {
        width: 87.5%;
        .goals_content .goals_accordion .accordion-item {
            padding: 1.5rem 1.75rem;
            .content-reveal .description {
                font-size: 16px;
                margin-bottom: 3.25rem;
            }
        }
        .images_wrapper img {
            width: 82.5%;
        }
    }
    .quoteSection {
        padding: 6.5vh 0;
        .author {
            margin: 3rem auto 0;
        }
    }
}

//? BREAKPOINT: 1366px
@media screen and (max-width: 1370px) {
    .aboutCompany__container .aboutCompany__item__image {
        width: 42.5%;
        h3 {
            margin-top: 1.5rem;
            margin-bottom: 0;
        }
        button {
            margin: 1rem auto 0.5rem;
        }
    }
    .aboutCompany__container article .aboutCompany__description p {
        font-size: 18px;
        line-height: 1.5rem;
    }
    .aboutCompany__container .aboutCompany__item__image .button {
        width: 32.5%;
    }
    .goals_section {
        width: 85%;
        .images_wrapper {
            width: 42.5%;
        }
        .goals_content .goals_accordion .accordion-item .content-reveal .description {
            font-size: 16px;
        }
    }
    .quoteSection .quote {
        width: 75%;
    }
}

//? BREAKPOINT: 1280px x 720
@media screen and (max-width: 1285px) {
    .aboutCompany__container .aboutCompany__item__image p {
        width: 95%;
    }
    .aboutCompany__container .aboutCompany__item__image .button {
        width: 34%;
    }
    .goals_section {
        width: 87.5%;
        .images_wrapper img {
            width: 80%;
            height: 80vh;
        }
    }
}

@media screen and (max-width: 800px) {
    .aboutCompany__container .aboutCompany__item__image {
        width: 45%;
        h3 {
            margin-top: 1.25rem;
            margin-bottom: 0;
        }
        button {
            margin: 1rem auto 0.5rem;
        }
    }
    .goals_section {
        width: 90%;
        flex-direction: column;
        .goals_content {
            width: 100%;
            h2 {
                text-align: center;
            }
            .goals_accordion {
                .accordion-item {
                    padding: 1.5rem 1rem;
                    .heading_bar p {
                        font-size: 12.5px;
                    }
                    .content-reveal .description {
                        font-size: 14px;
                        margin-bottom: 2.75rem;
                    }
                }
            }
        }
        .images_wrapper img {
            display: none;
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 450px) {
    .aboutCompany {
        margin-bottom: 0;
        .video-container {
            video {
                height: 40vh;
            }
            .video-text {
                font-size: 17.5vw;
                letter-spacing: 0;
            }
        }
        .aboutCompany__container {
            width: 95%;
            flex-direction: column;
            padding-bottom: 0vh;
            article {
                width: 100%;
                .aboutCompany__description {
                    width: 100%;
                    h2 {
                        font-size: 3.75rem;
                        font-weight: 700;
                        text-align: center;
                        letter-spacing: -1px;
                        margin-top: 1.5rem;
                        margin-bottom: 2rem;
                    }
                    p {
                        font-size: 16px;
                        line-height: calc(16px * 1.35);
                        span {
                            font-size: 18px;
                        }
                    }
                }
                .view_more {
                    justify-content: center;
                    margin: 2rem auto 0;
                    a {
                        font-size: 18px;
                    }
                }
            }
            .aboutCompany__item__image {
                width: 100%;
                height: 60vh;
                margin-top: 5vh;
                h3 {
                    margin-top: 0.75rem;
                    font-size: 1.75rem;
                }
                p {
                    font-size: 13px;
                    width: 95%;
                }
                button {
                    width: 40%;
                    font-size: 12px;
                    margin: 0.5rem auto 0.2rem;
                }
            }
        }
    }
    .goals_section {
        margin: 7.5vh auto;
    }
    .quoteSection {
        padding: 5vh 0;
        margin: 5vh auto;
        .quote {
            font-size: 1.6rem;
            font-weight: 500;
            width: 99%;
            text-wrap: balance;
            line-height: 1.22;
            letter-spacing: -0.2px;
        }
        .author {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 2rem auto 0;
        }
    }
}