/* ! CATEGORIES */

.section__categories {
    padding-bottom: 27.5vh;
    height: auto;
    color: black;
    background-color: rgb(240, 240, 240);
    .categories__heading {
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: clamp(3rem, 5.75vw, 7rem);
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        padding: 7.5rem 0 10rem;
        user-select: none;
    }
    .categories__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        width: 97.5%;
        height: 60vh;
        .categories__item__one {
            align-self: flex-start;
            object-position: bottom;
        }
        .categories__item__two {
            align-self: flex-start;
            background-position: center;
        }
        .categories__item__three {
            align-self: flex-end;
            background-position: center;
            margin-bottom: -5vh;
        }
        .categories__item__one,
        .categories__item__two,
        .categories__item__three {
            position: relative;
            width: 25vw;
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 8px;
            filter: grayscale(65%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
            transition: .2s ease;
            .category_image {
                object-fit: cover;
            }
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}

.item__payload {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    p {
        font-family: "Be Vietnam Pro", sans-serif;
        font-family: 'Switzer', sans-serif;
        font-size: 2.75rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        text-shadow: 0px 0px 1px black;
    }
    button {
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 18px;
        font-weight: 500;
        width: 50%;
        color: #fff;
        background-color: transparent;
        backdrop-filter: blur(10px);
        text-transform: uppercase;
        border: 2px solid #fff;
        padding: 1rem 2.5rem;
        margin: 0 0 2rem;
        transition: .15s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.categories__item__one:hover button,
.categories__item__two:hover button,
.categories__item__three:hover button {
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
}

@media screen and (max-width: 1500px) {
    .section__categories {
        .categories__container {
            width: 95%;
            justify-content: space-between;
            .categories__item__one,
            .categories__item__two,
            .categories__item__three {
                width: 27.5vw;
                aspect-ratio: 1/1.55;
            }
            .categories__item__three {
                margin-bottom: -15vh;
            }
        }
    }
    .item__payload {
        p {
            font-size: 2.5rem;
            letter-spacing: 0.5px;
        }
        button {
            width: 70%;
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 450px) {
    .section__categories {
        padding-bottom: 15vh;
        .categories__heading {
            font-size: 3.5rem;
            letter-spacing: 0px;
            padding: 5rem 0;
        }
        .categories__container {
            width: 97.5%;
            flex-direction: column;
            height: auto;
            .categories__item__one {
                img {
                    object-position: bottom;
                }
            }
            .categories__item__one,
            .categories__item__two,
            .categories__item__three {
                align-self: center;
                margin: 1rem auto;
                width: 90%;
                aspect-ratio: 1/1;
            }
        }
    }
}