//! FOOTER
#main__footer {
    background-color: #FFF;
    p {
        color: rgb(70, 70, 70);
        font-size: 1.75rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: 7.5vh auto 2rem;
        cursor: pointer;
        transition: .2s ease-in-out;
        &:hover {
            color: #000;
        }
    }
    .footer__links {
        padding-top: 5vh;
        width: 70%;
        margin: 7.5vh auto 0;
        border-top: 2px solid rgb(200, 200, 200);
        color: rgb(140, 140, 140);
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
    }
    ul li {
        font-size: 17px;
        margin: 0.55rem 0;
        padding: 0.125rem;
        cursor: pointer;
        transition: .15s ease-in-out;
        width: fit-content;
        &:hover {
            color: #000;
        }
    }
}