// ! INSTAGRAM
.highlightedProduct__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 75%;
    margin: 17.5vh auto;
    * {
        &::selection {
            background-color: #000;
            color: #fff;
        }
    }
    .highlightedProduct__image {
        background-image: url('/images/blackHoodie2.jpg');
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        aspect-ratio: 2.2/3;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    }
    .highlightedProduct__text {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 2.5rem;
        h2 {
            font-family: "Be Vietnam Pro", sans-serif;
            font-size: 5.5rem;
            font-weight: 600;
            margin-bottom: 2.5rem;
        }
        p {
            font-family: "Be Vietnam Pro", sans-serif;
            font-size: 1.25rem;
            line-height: calc(1.3rem * 1.4);
            word-spacing: 0.75px;
            color: rgb(110, 110, 110);
            text-wrap: balance;
            span {
                font-family: inherit;
                color: #000;
                font-weight: 500;
            }
        }
        .view_product {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            a {
                font-family: "Be Vietnam Pro", sans-serif;
                font-size: 1.25rem;
                font-weight: 500;
                color: #000;
                border-bottom: 2px solid #000;
                text-decoration: none;
                padding-bottom: 1px;
                word-spacing: 2px;
            }
            .icon {
                color: rgb(150, 150, 150);
                margin-left: 0.5rem;
                font-size: 1.3rem;
                transition: .225s ease;
                margin-bottom: 0.25rem;
            }
            &:hover {
                .icon {
                    transform: translate(12.5%, -12.5%);
                    color: #000;
                }
            }
        }
    }
}

.instagramSection {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    * {
        &::selection {
            background-color: #000;
            color: #fff;
        }
    }
    .top__gallery {
        display: flex;
        width: 85%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .instagramSection__followUs {
            text-align: center;
            h2 {
                font-family: "Lexend Deca", sans-serif;
                font-size: 3rem;
                font-weight: 500;
                word-spacing: 1px;
            }
            button {
                font-family: "Be Vietnam Pro", sans-serif;
                font-family: "Raleway", sans-serif;
                word-spacing: 2px;
                font-size: 1.1rem;
                text-transform: uppercase;
                border: 2px solid black;
                color: #000;
                padding: 0.8rem 3.25rem;
                margin: 4rem 0 3rem;
                background-color: transparent;
                font-weight: 600;
                user-select: none;
                cursor: pointer;
                transition: .14s ease-in-out;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
            .instagram-link {
                font-family: "Lexend Deca", sans-serif;
                font-size: 18px;
                font-weight: 500;
                border-bottom: 1px solid #000;
                width: fit-content;
                margin: 0 auto;
                opacity: 0;
                cursor: pointer;
                transition: .3s ease-in-out;
                &.visible {
                    opacity: 1;
                }
            }
        }
        .top_gallery_item1,
        .top_gallery_item2 {
            background: url('/instaGallery1.jpg') 50% 50%;
            height: 17.5vw;
            background-size: cover;
            aspect-ratio: 1.25/1;
            filter: brightness(67.5%);
            transition: 0.35s ease-in-out;
            &.brightness {
                filter: brightness(97.5%);
            }
        }
        .top_gallery_item2 {
            background: url('/instaGallery2.jpg') 50% 50%;
            background-size: cover;
        }
    }
    .bottom__gallery {
        width: 85%;
        margin-top: 7.5vh;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .bottom__gallery_item1,
        .bottom__gallery_item2,
        .bottom__gallery_item3,
        .bottom__gallery_item4 {
            background: url('/instaGallery3.jpg') 50% 50%;
            height: 17.5vw;
            background-size: cover;
            aspect-ratio: 1/1;
            filter: brightness(67.5%);
            transition: 0.35s ease-in-out;
            &.brightness {
                filter: brightness(97.5%);
            }
        }
        .bottom__gallery_item2 {
            background: url('/instaGallery4.jpg') 50% 50%;
            background-size: cover;
        }
        .bottom__gallery_item3 {
            background: url('/instaGallery5.jpg') 50% 50%;
            background-size: cover;
        }
        .bottom__gallery_item4 {
            background: url('/instaGallery6.jpg') 50% 50%;
            background-size: cover;
        }
    }
}

@media screen and (max-width: 1500px) {
    .highlightedProduct__container {
        width: 87.5%;
    }
    .instagramSection {
        .top__gallery {
            width: 95%;
            .instagramSection__followUs h2 {
                font-size: 2.75rem;
                letter-spacing: -0.5px;
            }
        }
        .bottom__gallery {
            width: 95%;
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 450px) {
    .highlightedProduct__container {
        margin: 10vh auto;
        width: 97.5%;
        flex-direction: column;
        .highlightedProduct__image {
            height: 45vh;
            width: 100%;
            border-radius: 0px;
            box-shadow: none;
        }
        .highlightedProduct__text {
            width: 97.5%;
            margin-right: 0;
            margin-top: 1.5rem;
            h2 {
                font-size: 5rem;
                font-weight: 700;
                margin: 0 auto 1rem;
            }
            p {
                font-size: 18px;
                line-height: calc(18px * 1.35);
                text-align: justify;
            }
            .view_product {
                justify-content: center;
                margin: 3rem auto 0;
                a {
                    font-size: 19px;
                }
            }
        }
    }
    .instagramSection {
        margin-top: 15vh;
        .top__gallery {
            width: 100%;
            flex-direction: column;
            .top_gallery_item1 {
                height: 22.5vh;
                width: 85%;
            }
            .top_gallery_item2 {
                display: none;
            }
            .instagramSection__followUs {
                margin: 2rem 0;
                h2 {
                    font-size: 2rem;
                    letter-spacing: -0.5px;
                }
                button {
                    margin: 1rem 0;
                }
            }
        }
        .bottom__gallery {
            width: 100%;
            margin: 0 0 2.5vh;
            flex-wrap: wrap;
            .bottom__gallery_item1,
            .bottom__gallery_item2,
            .bottom__gallery_item3,
            .bottom__gallery_item4 {
                width: 50vw;
                height: auto;
                aspect-ratio: 1/1;
            }
        }
    }
}