/* ! NEWSLETTER  */

.newsletter {
    background-color: #EFEBE8;
    padding: 25vh 0 10vh;
    margin-top: -15vh;
    text-align: center;
    h2 {
        // font-family: 'Inter';
        //font-family: "Raleway", sans-serif;
        font-family: "Geist", sans-serif;
        font-size: 4.75rem;
        font-weight: 800; //700 - Inter
        letter-spacing: -0.5px;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
    }
    p {
        // font-family: "Lexend Deca", sans-serif;
        font-family: 'Onest', sans-serif;
        font-family: "Barlow", sans-serif;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 0.5rem;
        letter-spacing: -0.2px;
        color: rgb(150, 150, 150);
    }
    form {
        #newsletterInput {
            //font-family: "Lexend Deca", sans-serif;
            font-family: "Geist", sans-serif;
            font-size: 1rem;
            margin-top: 5vh;
            width: 17.5%;
            min-width: 300px;
            background: transparent;
            text-align: left;
            padding: 1rem 1.5rem 1rem 1rem;
            outline: none;
            background-color: #fff;
            border: 1px solid rgb(125, 125, 125);
            border-right: none;
            &:focus {
                border-color: #000;
            }
        }
        #submitButton {
            //font-family: "Urbanist", sans-serif;
            //font-family: "Geist", sans-serif;
            font-family: 'Onest', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            padding: 1rem;
            border: 1px solid #0a00c1;
            border-top-width: 1.5px;
            border-bottom-width: 0.9px;
            background-color: #0a00c1;
            color: #fff;
            cursor: pointer;
            transition: .2s ease-in-out;
            &:hover {
                background-color: #000;
                border-color: #000;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .newsletter form #newsletterInput {
        width: 27.5%;
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 550px) {
    .newsletter {
        h2 {
            font-size: 4.25rem;
            margin-top: 0;
            letter-spacing: -1.75px;
        }
        p {
            font-size: 1.5rem;
            line-height: calc(1.5rem * 1.325);
            letter-spacing: -0.4px;
        }
        form {
            #newsletterInput {
                font-size: 15px;
            }
            #submitButton {
                font-size: 15px;
            }
        }
    }
}

//* iPhone 15 Pro
@media screen and (max-width: 400px) {
    .newsletter {
        h2 {
            font-size: 4rem;
        }
        p {
            line-height: 1.3;
            font-size: 20px;
        }
        form {
            #newsletterInput {
                min-width: 250px;
                border-radius: 0px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                height: 3.5rem;
            }
            #submitButton {
                padding: 1rem 14px;
                border-radius: 0px;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                height: 3.5rem;
                //border-top-width: 2px;
                //border-bottom-width: 1px;
            }
        }
    }
}