//? CLOTHING SUBPAGE with products to choose from
.links-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 15vh auto 0;
    width: 90%;
    &.additional-space {
        margin-top: 8rem;
        width: 75%;
    }
    .clothing__header {
        //font-family: "Be Vietnam Pro", sans-serif;
        font-family: 'Onest', sans-serif;
        font-size: 3.75rem;
        font-weight: 700;
        letter-spacing: -1px;
        text-transform: uppercase;
    }
    .links-wrapper {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        p {
            //font-family: 'Switzer', sans-serif;
            font-family: 'Geist', sans-serif;
            font-size: 19px;
            font-weight: 500;
            color: rgb(175, 175, 175);
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                color: #000;
            }
        }
        span {
            font-family: 'Onest', sans-serif;
            font-size: 19px;
            font-weight: 500;
            color: rgb(200, 200, 200);
            padding: 0 6px;
            user-select: none;
        }
        .active-link {
            font-weight: 600;
            color: #000;
        }
    }
}

//! KATEOGORIA PRODUKTÓW PODSTRONA
.items_category_container {
    width: 90%;
    margin: 7.5vh auto 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .sorting-wrapper {
        z-index: 10;
        width: 20%;
        position: sticky;
        top: 10%;
        .sorting-heading {
            padding-top: 1rem;
            border-top: 2px solid rgb(210, 210, 210);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;
            &:first-of-type {
                margin-top: 0;
            }
            h6 {
                //font-family: "Be Vietnam Pro", sans-serif;
                //font-family: 'Switzer', sans-serif;
                font-family: 'Onest', sans-serif;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .icon {
                color: #000;
                cursor: pointer;
                font-size: 1.25rem;
                transition: .125s ease-in-out;
            }
        }
    }
}

.sorting__list,
.sorting__categories__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &.hidden-list {
        display: none;
    }
    label {
        display: flex;
        align-items: center;
        margin: 6px 0;
        input[type="radio"] {
            appearance: none;
            width: 18px;
            height: 18px;
            border: 1px solid #000;
            border-radius: 50%;
            margin-right: 9px;
            position: relative;
            cursor: pointer;
            box-shadow: 1px 1px 0px rgb(175, 175, 175);
            &:checked+span {
                font-weight: 600;
                color: #000;
            }
            &:checked::before {
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    span {
        //font-family: "Be Vietnam Pro", sans-serif;
        font-family: 'Onest', sans-serif;
        font-size: 16px;
        letter-spacing: -0.25px;
        color: rgb(50, 50, 50);
        text-transform: uppercase;
        cursor: pointer;
    }
}

.sorting__categories__list {
    label {
        margin: 7px 0;
        input[type="radio"] {
            border-radius: 0;
            &:checked::before {
                border-radius: 0;
                width: 10px;
                height: 10px;
                //background-color: rgb(30, 30, 30);
            }
        }
    }
}

.sorting__list:has(span:hover) span:not(:hover) {
    // filter: blur(2px);
    text-decoration: 3px line-through rgb(30, 30, 30);
    transition: .2s ease;
}

.sorting__categories__list:has(span:hover) span:not(:hover) {
    //  filter: blur(2px);
    text-decoration: 3px line-through rgb(30, 30, 30);
    transition: .2s ease;
}

.clothing__items {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77.5%;
}

.clothing__single__item {
    //box-shadow: 0px 1px 4px rgb(200, 200, 200);
    width: calc(95% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    user-select: none;
    border: 1px solid rgb(205, 205, 205);
    border-bottom: 1px solid rgb(175, 175, 175);
    border-radius: 18px;
    padding-bottom: 12px;
    position: relative;
    transition: .175s ease-out, transform .2s ease-out;
    &:hover {
        border-color: rgb(150, 150, 150);
        transform: translateY(-8px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05), 0px 0px 100px -15px rgba(0, 0, 0, 0.2);
        transition: border-color 0.175s ease-in, transform 0.25s ease-in, box-shadow 0.25s ease-in;
        .image__container {
            .main_image {
                opacity: 0;
            }
            .secondary_image {
                opacity: 1;
            }
        }
    }
    .image__container {
        height: 62vh;
        .main_image {
            display: flex;
            z-index: 1;
            height: 62vh;
            height: 100%;
            width: 100%;
            aspect-ratio: 1.4/2;
            object-fit: cover;
            object-position: top;
            opacity: 1;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            cursor: pointer;
            transition: 0.6s ease;
            //transition: 0.5s ease-in-out;
        }
    }
    .secondary_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        //height: 87.5%;
        height: 62vh;
        width: 100%;
        aspect-ratio: 1.4/2;
        object-fit: cover;
        opacity: 0;
        border-top-right-radius: 18px;
        border-top-left-radius: 18px;
        cursor: pointer;
        transition: 0.6s ease;
        //transition: 0.5s ease-in-out;
    }
}

.clothing__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 2px;
    padding-left: 14px;
    position: relative;
    .brand {
        //font-family: "Inter", sans-serif;
        //font-family: "Be Vietnam Pro", sans-serif;
        font-family: 'Barlow', sans-serif;
        font-family: 'Geist', sans-serif;
        //font-family: 'Switzer', sans-serif;
        color: rgb(155, 155, 155);
        font-size: 15px;
        font-weight: 400;
        margin: 6px 0 0;
        //letter-spacing: -0.25px;
    }
    .name {
        //font-family: "Inter", sans-serif;
        //font-family: 'Switzer', sans-serif;
        font-family: 'Onest', sans-serif;
        font-size: 21px;
        font-weight: 600;
        letter-spacing: -0.75px;
        //word-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 6px 0 4px;
    }
    .price {
        font-family: 'Onest', sans-serif;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 1;
        color: rgb(75, 75, 75);
    }
    .favorite-button {
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        .fav-icon {
            font-size: 1.5rem;
            transition: .275s ease;
        }
        &:hover {
            .fav-icon {
                color: rgb(100, 100, 100);
                transform: translateY(-2.5px);
            }
        }
    }
}

//! 4 PROPONOWANE ITEMKI na podstronie produktu
.search__items__input {
    outline: none;
    border: none;
    font-size: 16px;
    text-align: center;
    color: gray;
    &:focus {
        color: #000;
        border-bottom: 2px solid gray;
    }
    &:focus-within {
        border-bottom: 2px solid gray;
    }
    &::placeholder {
        color: gray;
    }
}

.suggested__heading {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    word-spacing: 6px;
    font-weight: 600;
    margin: 7.5vh 0 4rem;
    letter-spacing: -0.75px;
    user-select: none;
}

.suggested__items_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .suggested__single__item {
        width: calc(90% / 4);
        display: flex;
        flex-direction: column;
        margin-bottom: 7.5vh;
        user-select: none;
        img {
            width: 100%;
            display: flex;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
            aspect-ratio: 1.5/2;
            box-shadow: 1px 1px 4px rgb(200, 200, 200);
        }
        .element {
            position: relative;
            &:hover {
                .element__description {
                    background-position: bottom;
                    color: #fff;
                    transition: 0.75s backdrop-filter, .225s background;
                    backdrop-filter: blur(10px);
                }
            }
            .element__description {
                position: absolute;
                z-index: 10;
                width: 100%;
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 22.5%;
                transition: 0s backdrop-filter, .3s background;
                cursor: pointer;
                font-size: 200%;
                color: transparent;
                font-weight: 400;
                letter-spacing: 5px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, transparent 50%);
                background-size: 100% 200%;
                background-position: top;
            }
        }
    }
}

//? BREAKPOINT: 1536px x 864
@media screen and (max-width: 1600px) {
    .links-container {
        width: 95%;
        margin-top: 7rem;
    }
    .items_category_container {
        width: 95%;
        margin-top: 2.25rem;
    }
    .clothing__single__item {
        width: 32%;
        margin-bottom: 5vh;
    }
    .clothing__info .name {
        font-size: 1.25rem;
        word-spacing: 1.75px;
    }
    .clothing__single__item .image__container {
        height: 60vh;
        .main_image {
            height: 60vh;
        }
        .secondary_image {
            height: 60vh;
        }
    }
}

//* BREAKPOINT: 1440 x 900
@media screen and (max-width: 1450px) {
    .clothing__single__item .image__container {
        height: 52.5vh;
        .main_image {
            height: 52.5vh;
        }
        .secondary_image {
            height: 52.5vh;
        }
    }
    .clothing__items {
        width: 80%;
    }
    .items_category_container .sorting-wrapper {
        width: 17.5%;
    }
    .sorting__list span,
    .sorting__categories__list span {
        font-size: 15px;
    }
}

//? BREAKPOINT: 1366px x 768
@media screen and (max-width: 1380px) {
    .clothing__info {
        .name {
            font-size: 18px;
            letter-spacing: -1px;
            word-spacing: 1px;
        }
        .price {
            font-size: 1.25rem;
        }
        .favorite-button .fav-icon {
            font-size: 20px;
        }
    }
    .links-container {
        margin-top: 6.25rem;
        .clothing__header {
            font-size: 3rem;
        }
    }
    .sorting__list span,
    .sorting__categories__list span {
        font-size: 14px;
    }
}

//? BREAKPOINT: 1280px x 720
@media screen and (max-width: 1285px) {
    .links-container {
        width: 97.5%;
        margin-top: 6rem;
        .clothing__header {
            font-size: 2.75rem;
        }
    }
    .items_category_container {
        width: 97.5%;
    }
}

@media screen and (max-width: 900px) {
    .clothing__info {
        padding-left: 0.3rem;
        .name {
            font-size: 16px;
            letter-spacing: -1px;
            word-spacing: 1px;
        }
        .price {
            font-size: 18px;
        }
        .favorite-button {
            top: 60%;
            .fav-icon {
                font-size: 16px;
            }
        }
    }
    .clothing__single__item .image__container {
        height: 50vh;
        .main_image {
            height: 50vh;
        }
        .secondary_image {
            height: 50vh;
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 450px) {
    .items_category_container .sorting-wrapper {
        position: static;
    }
    .clothing__single__item .image__container {
        height: 35vh;
        //height: 35dvh;
        .main_image {
            height: 35vh;
            //height: 35dvh;
        }
        .secondary_image {
            height: 35vh;
            //height: 35dvh;
        }
    }
    .links-container {
        margin-top: calc(10vh + 0.25rem);
        width: 97.5%;
        flex-direction: column-reverse;
        .links-wrapper {
            margin: 0.5rem auto 0;
        }
        .clothing__header {
            margin: 0 auto;
            font-size: 3rem;
        }
    }
    .items_category_container {
        width: 97.5%;
        flex-direction: column;
        margin-bottom: 5vh;
        margin-top: 2.5vh;
        .sorting-wrapper {
            width: 97.5%;
            margin: 0 auto;
        }
    }
    .sorting__list label,
    .sorting__categories__list label {
        margin: 0.25rem 0;
    }
    .clothing__items {
        width: 100%;
        margin: 4vh auto 0;
        .clothing__single__item {
            width: calc(98% / 2);
            img {
                box-shadow: 1px 1px 3px rgb(125, 125, 125);
            }
        }
    }
    .clothing__info {
        .brand {
            font-family: "Inter", sans-serif;
            margin-top: 6px;
            font-size: 13px;
            letter-spacing: 0;
        }
        .name {
            margin-top: 4px;
            font-size: 15px;
            font-weight: 600;
            word-spacing: 0;
            letter-spacing: -0.25px;
        }
        .price {
            font-size: 15px;
        }
    }
}