//! CLOTHING SUBPAGE with products to choose from
.links-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 15vh auto 0;
    width: 90%;
    * {
        &::selection {
            background-color: #000;
            color: #FFF;
        }
    }
    &.additional-space {
        margin-top: 8rem;
        width: 75%;
    }
    .clothing__header {
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 3.7rem;
        font-weight: 700;
        letter-spacing: -0.75px;
        text-transform: uppercase;
    }
    .links-wrapper {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        p {
            font-family: 'Switzer', sans-serif;
            font-size: 19px;
            font-weight: 500;
            color: rgb(190, 190, 190);
            cursor: pointer;
            transition: 0.25s ease-in-out;
            &:hover {
                color: #000;
            }
        }
        span {
            font-size: 19px;
            font-weight: 500;
            color: rgb(190, 190, 190);
            padding: 0 0.625rem;
            user-select: none;
        }
        .active-link {
            font-weight: 600;
            color: #000;
        }
    }
}

//! KATEOGORIA PRODUKTÓW PODSTRONA
.items_category_container {
    width: 90%;
    margin: 7.5vh auto 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    * {
        &::selection {
            background-color: #000;
            color: #FFF;
        }
    }
    .sorting-wrapper {
        z-index: 10;
        width: 20%;
        position: sticky;
        top: 10%;
        .sorting-heading {
            padding-top: 1rem;
            border-top: 2px solid rgb(210, 210, 210);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;
            &:first-of-type {
                margin-top: 0;
            }
            h6 {
                font-family: "Be Vietnam Pro", sans-serif;
                font-family: 'Switzer', sans-serif;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .icon {
                color: #000;
                cursor: pointer;
                font-size: 1.25rem;
                transition: .125s ease-in-out;
            }
        }
    }
}

.sorting__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &.hidden-list {
        display: none;
    }
    label {
        display: flex;
        align-items: center;
        margin: 0.45rem 0;
        input[type="radio"] {
            appearance: none;
            width: 18px;
            height: 18px;
            border: 1px solid #000;
            border-radius: 50%;
            margin-right: 9px;
            position: relative;
            cursor: pointer;
            &:checked+span {
                font-weight: 600;
                color: #000;
            }
            &:checked::before {
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover {
            cursor: pointer;
            //text-decoration: 5px line-through;
        }
    }
    span {
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 16px;
        letter-spacing: -0.3px;
        color: rgb(50, 50, 50);
        text-transform: uppercase;
    }
}

.sorting__list:has(span:hover) span:not(:hover) {
    // filter: blur(2px);
    text-decoration: 5px line-through;
    transition: .175s ease-in-out;
}

.sorting__categories__list:has(span:hover) span:not(:hover) {
    //  filter: blur(2px);
    text-decoration: 3px line-through;
    transition: .175s ease-in-out;
}

.sorting__categories__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &.hidden-list {
        display: none;
    }
    label {
        display: flex;
        align-items: center;
        margin: 0.45rem 0;
        input[type="radio"] {
            appearance: none;
            width: 18px;
            height: 18px;
            border: 1px solid #000;
            margin-right: 9px;
            position: relative;
            cursor: pointer;
            box-shadow: 1px 1px 0px rgb(100, 100, 100);
            &:checked+span {
                font-weight: 600;
                color: #000;
            }
            &:checked::before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: rgb(30, 30, 30);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover {
            cursor: pointer;
            //  text-decoration: 5px line-through;
        }
    }
    span {
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 16px;
        letter-spacing: -0.3px;
        color: rgb(50, 50, 50);
        text-transform: uppercase;
    }
}

.clothing__items {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77.5%;
}

.clothing__single__item {
    //box-shadow: 0px 1px 4px rgb(200, 200, 200);
    width: calc(92.5% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5vh;
    user-select: none;
    border: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(190, 190, 190);
    border-radius: 12px;
    padding-bottom: 12px;
    transition: .15s ease-out, transform .175s ease-out;
    position: relative;
    .image__container {
        height: 62vh;
        .main_image {
            height: 62vh;
            height: 100%;
            width: 100%;
            display: flex;
            object-fit: cover;
            object-position: top;
            aspect-ratio: 1.4/2;
            opacity: 1;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            cursor: pointer;
            transition: 0.4s ease-in-out;
            z-index: 1;
        }
        .secondary_image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            height: 87.5%;
            width: 100%;
            height: 62vh;
            object-fit: cover;
            aspect-ratio: 1.4/2;
            opacity: 0;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }
    }
    &:hover {
        border-color: rgb(75, 75, 75);
        transform: translateY(-1vh);
        transition: .15s ease-in, transform .28s ease-in;
        .main_image {
            opacity: 0;
        }
        .secondary_image {
            opacity: 1;
        }
    }
}

.clothing__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    padding-left: 12px;
    position: relative;
    .favorite-button {
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        &:hover {
            .fav-icon {
                transform: translateY(-2.5px);
                color: rgb(130, 130, 130);
            }
        }
        .fav-icon {
            font-size: 1.5rem;
            transition: .175s ease-in-out;
        }
    }
    .name {
        font-family: "Inter", sans-serif;
        //font-family: 'Switzer', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: -0.75px;
        word-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0.5rem 0 2px;
    }
    .price {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgb(160, 160, 160);
    }
}

//! 4 PROPONOWANE ITEMKI na podstronie produktu
.search__items__input {
    outline: none;
    border: none;
    font-size: 16px;
    text-align: center;
    color: gray;
}

.search__items__input:focus {
    color: #000;
}

.search__items__input::placeholder {
    color: gray
}

.search__items__input:focus,
.search__items__input:focus-within {
    border-bottom: 2px solid gray;
}

.suggested__heading {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    word-spacing: 6px;
    font-weight: 600;
    margin: 7.5vh 0 4rem;
    letter-spacing: -0.75px;
    user-select: none;
}

.suggested__items_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .suggested__single__item {
        width: calc(90% / 4);
        display: flex;
        flex-direction: column;
        margin-bottom: 7.5vh;
        user-select: none;
        img {
            width: 100%;
            display: flex;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
            aspect-ratio: 1.5/2;
            box-shadow: 1px 1px 4px rgb(200, 200, 200);
        }
        .element {
            position: relative;
            .element__description {
                position: absolute;
                z-index: 10;
                width: 100%;
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 22.5%;
                transition: 0s backdrop-filter, .3s background;
                cursor: pointer;
                font-size: 200%;
                color: transparent;
                font-weight: 400;
                letter-spacing: 5px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, transparent 50%);
                background-size: 100% 200%;
                background-position: top;
            }
        }
    }
}

.suggested__single__item .element:hover .element__description {
    background-position: bottom;
    color: #fff;
    transition: 0.75s backdrop-filter, .225s background;
    backdrop-filter: blur(10px);
}

//! BREAKPOINT: 1566px
@media screen and (max-width: 1600px) {
    .links-container {
        width: 92.5%;
        margin-top: 14vh;
    }
    .items_category_container {
        width: 92.5%;
        margin-top: 5vh;
    }
    .clothing__single__item {
        width: 31.75%;
        margin-bottom: 5vh;
    }
    .clothing__info .name {
        font-size: 1.3rem;
        word-spacing: 1.75px;
    }
    .clothing__single__item .image__container {
        height: 60vh;
        .main_image {
            height: 60vh;
        }
        .secondary_image {
            height: 60vh;
        }
    }
}

@media screen and (max-width: 1500px) {
    .links-container {
        width: 92.5%;
    }
    .items_category_container {
        width: 95%;
    }
    .clothing__info {
        .name {
            font-size: 1.25rem;
        }
    }
    .clothing__single__item .image__container {
        height: 55vh;
        .main_image {
            height: 55vh;
        }
        .secondary_image {
            height: 55vh;
        }
    }
}

@media screen and (max-width: 1385px) {
    .clothing__info {
        .name {
            font-size: 18px;
            letter-spacing: -1px;
            word-spacing: 1px;
        }
        .price {
            font-size: 1.25rem;
        }
        .favorite-button .fav-icon {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .clothing__info {
        padding-left: 0.3rem;
        .name {
            font-size: 16px;
            letter-spacing: -1px;
            word-spacing: 1px;
        }
        .price {
            font-size: 18px;
        }
        .favorite-button {
            top: 60%;
            .fav-icon {
                font-size: 16px;
            }
        }
    }
    .clothing__single__item .image__container {
        height: 50vh;
        .main_image {
            height: 50vh;
        }
        .secondary_image {
            height: 50vh;
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 450px) {
    .clothing__single__item .image__container {
        height: 40vh;
        .main_image {
            height: 40vh;
        }
        .secondary_image {
            height: 40vh;
        }
    }
    .links-container {
        width: 97.5%;
        flex-direction: column-reverse;
        .links-wrapper {
            margin: 0.5rem auto 0;
        }
        .clothing__header {
            margin: 0 auto;
            font-size: 3rem;
        }
    }
    .items_category_container {
        width: 97.5%;
        flex-direction: column;
        margin-bottom: 5vh;
        margin-top: 2.5vh;
        .sorting-wrapper {
            width: 97.5%;
            margin: 0 auto;
        }
    }
    .sorting__list label,
    .sorting__categories__list label {
        margin: 0.25rem 0;
    }
    .clothing__items {
        width: 100%;
        margin: 4vh auto 0;
        .clothing__single__item {
            width: calc(98% / 2);
            img {
                box-shadow: 1px 1px 3px rgb(125, 125, 125);
            }
        }
    }
    .clothing__info {
        .name {
            font-size: 14px;
            font-weight: 600;
            word-spacing: 0;
        }
        .price {
            font-size: 15px;
        }
    }
}