//? PRODUCT SUBPAGE
.links-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 17.5vh auto 2rem;
    width: 90%;
    &.additional-space {
        margin-top: 7.5rem;
        width: 80%;
    }
    .clothing__header {
        font-size: 3.75rem;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: uppercase;
    }
    .links-wrapper {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        p {
            //font-family: 'Switzer', sans-serif;
            font-family: 'Geist', sans-serif;
            font-size: 19px;
            font-weight: 500;
            color: rgb(175, 175, 175);
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                color: #000;
            }
        }
        span {
            font-family: 'Onest', sans-serif;
            font-size: 19px;
            font-weight: 500;
            color: rgb(200, 200, 200);
            padding: 0 6px;
            user-select: none;
        }
        .active-link {
            font-weight: 600;
            color: #000;
        }
    }
}

.product__container {
    width: 80%;
    margin: 1rem auto 15vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    .product {
        width: 47.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .images-container {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            justify-content: flex-start;
            .product-thumbnails {
                margin-right: 1.25rem;
                display: flex;
                flex-direction: column;
                height: auto;
                width: 12.5%;
                //* new !GAP!
                gap: 0.75rem;
                img {
                    border: 1px solid rgb(210, 210, 210);
                    opacity: 0.65;
                    filter: grayscale(25%);
                    height: 120px;
                    //margin-bottom: 0.75rem;
                    display: block;
                    width: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    user-select: none;
                    transition: .25s ease;
                    &.active_image {
                        opacity: 1;
                        filter: grayscale(0%);
                        border-color: rgb(25, 25, 25);
                        &:hover {
                            border-color: rgb(0, 0, 0);
                        }
                    }
                    &:hover {
                        opacity: 1;
                        filter: grayscale(0%);
                        border-color: rgb(100, 100, 100);
                    }
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
            .img-wrapper {
                width: 87.5%;
                display: flex;
                align-items: center;
                justify-content: center;
                #imageBox {
                    border: 1px solid rgb(220, 220, 220);
                    height: 80vh;
                    width: 100%;
                    // aspect-ratio: 1.3/2;
                    object-fit: cover;
                    object-position: top;
                    user-select: none;
                    transition: .2s ease;
                    &:hover {
                        //border-color: rgb(75, 75, 75);
                        border-color: rgb(100, 100, 100);
                    }
                }
            }
        }
    }
}

.img-container-mobile {
    display: none;
}

.product__info {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    .product__description {
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-transform: uppercase;
        .brand {
            //font-family: "Raleway", sans-serif;
            font-family: "Geist", sans-serif;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 2px;
            color: rgb(150, 150, 150);
            margin-left: 4px;
        }
        h2 {
            //font-family: "Lexend Deca", sans-serif;
            //font-family: 'Switzer', sans-serif;
            font-family: "Onest", sans-serif;
            letter-spacing: -2.25px;
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 0.75rem;
            text-wrap: balance;
        }
        p {
            font-family: "Onest", sans-serif;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .selector-container {
        margin-top: 2.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 70%;
        .size-selector {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
            flex-direction: column;
            .size-selector-label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 4px;
                label {
                    //font-family: "Be Vietnam Pro", sans-serif;
                    //font-family: 'Switzer', sans-serif;
                    font-family: 'Geist', sans-serif;
                    font-size: 17px;
                    font-weight: 500;
                    letter-spacing: -0.25px;
                }
            }
            select {
                //font-family: 'Switzer', sans-serif;
                font-family: 'Geist', sans-serif;
                font-size: 16px;
                font-weight: 500;
                flex-grow: 1;
                border-radius: 6px;
                padding: 12px 10px;
                width: 100%;
                border: 1px solid rgb(150, 150, 150);
                cursor: pointer;
                transition: .1s ease-in-out;
                option {
                    // font-family: 'Switzer', sans-serif;
                    font-family: 'Onest', sans-serif;
                    background-color: #000;
                    color: #fff;
                }
                &:hover {
                    border-color: rgb(75, 75, 75);
                }
                &:focus-within {
                    border-color: #000;
                }
            }
            .size-guide {
                // font-family: 'Switzer', sans-serif;
                font-family: 'Geist', sans-serif;
                font-size: 15px;
                font-weight: 500;
                color: #000;
                text-decoration: underline;
                text-decoration-color: #000;
                transition: .175s ease-in-out;
                display: flex;
                align-items: center;
                cursor: pointer;
                .ruler-icon {
                    font-size: 16px;
                }
                &:hover {
                    color: #0a00c1;
                }
            }
        }
        .buttons-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .add_bag-button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                position: relative;
                overflow: hidden;
                // font-family: "Be Vietnam Pro", sans-serif;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.25px;
                word-spacing: 0.25px;
                width: 72.5%;
                color: #fff;
                background-color: rgb(0, 0, 0);
                border: 2px solid #000;
                padding: 0.85rem 2.4rem;
                border-radius: 8px;
                z-index: 10;
                text-align: center;
                cursor: pointer;
                //transition: .25s ease-in-out;
                transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                .background {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: white;
                    transform: scale(1);
                    //transition: transform .325s ease-out, background-color .1s ease-in-out;
                    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                }
                .text {
                    // font-size: 16px;
                    font-family: 'Onest', sans-serif;
                    z-index: 2;
                    transform: translateX(0);
                    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
                    //transition: all .3s ease-out;
                }
                .icon {
                    font-size: 25px;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    transform: translate(0, -50%);
                    display: flex;
                    z-index: 2;
                    //transition: transform .325s ease-out;
                    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
                }
                &:hover {
                    border-color: #0a00c1;
                    .background {
                        transform: scale(60);
                        background-color: #0a00c1;
                        background-color: #00008B;
                        transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    .text {
                        color: #fff;
                        transform: translateX(-25px);
                    }
                    .icon {
                        transform: translate(-350%, -50%);
                    }
                }
            }
            .favorite-button {
                border: 1px solid rgb(190, 190, 190);
                padding: 0.85rem;
                color: #000;
                border-radius: 10px;
                cursor: pointer;
                transition: .225s ease-in-out;
                .fav-icon {
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //transition: .225s ease-in-out;
                }
                &:hover {
                    border-color: #000;
                    color: #fff;
                    background-color: #000;
                }
            }
            .copy_link-button {
                border: 1px solid rgb(190, 190, 190);
                padding: 0.85rem;
                color: #000;
                border-radius: 10px;
                cursor: pointer;
                transition: .225s ease-in-out;
                .copy-icon {
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //transition: .225s ease-in-out;
                }
                &:hover {
                    border-color: #000;
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }
    .quantity__selector {
        display: flex;
        align-items: center;
        margin: 10px 0 20px;
        justify-content: flex-start;
        button {
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            outline: none;
            border: none;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            cursor: pointer;
            transition: background-color .22s ease-in-out, color .22s ease-in-out;
            .icon {
                font-size: 18px;
            }
            &:hover {
                background-color: #fff;
                color: #000;
            }
            &:active {
                scale: 1.075;
            }
            &.disabled {
                background-color: rgb(215, 215, 215);
                color: rgb(65, 65, 65);
                border-color: transparent;
            }
        }
        p {
            //font-family: "Inter", sans-serif;
            font-family: 'Onest', sans-serif;
            font-size: 20px;
            font-weight: 600;
            width: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
        }
    }
}

//! FAQ accordion for product
.additional-info-container {
    margin-top: 2.25rem;
    width: 70%;
    .additional-info-item {
        padding: 8px 0;
        border-bottom: 1px solid rgb(175, 175, 175);
        .additional-info-label {
            //font-family: 'Switzer', sans-serif;
            font-family: 'Geist', sans-serif;
            //font-family: 'Onest', sans-serif;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgb(25, 25, 25);
            padding: 8px 10px;
            border-radius: 6px;
            text-transform: uppercase;
            cursor: pointer;
            transition: .175s ease;
            user-select: none;
            &:hover {
                background-color: rgb(225, 225, 225);
            }
            .additional-info-toggle {
                font-size: 20px;
                font-weight: 600;
                transition: transform 0.2s ease-in-out;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .additional-info-textContent {
            font-size: 16px;
            letter-spacing: -0.25px;
            line-height: 1.35;
            padding: 0 0.5rem;
            text-align: justify;
            color: rgb(115, 115, 115);
            display: grid;
            grid-template-rows: 0fr;
            transition: .125s ease;
            &.opened {
                margin: 0.75rem auto 0.5rem;
                grid-template-rows: 1fr;
                transition: .25s ease;
            }
            &>div {
                overflow: hidden;
            }
        }
        .additional-info-label#opened {
            background-color: rgb(200, 200, 200);
            background-color: rgb(30, 30, 30);
            color: #fff;
            //transition: .175s ease-in-out;
            &:hover {
                background-color: #000;
            }
        }
    }
}

//! propozycje 4 itemków pod produktem
.suggested__heading {
    //font-family: "Be Vietnam Pro", sans-serif;
    //font-family: 'Switzer', sans-serif;
    font-family: "Geist", sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1px;
    word-spacing: 6px;
    margin: 7.5vh 0 0;
    display: flex;
    justify-content: center;
    user-select: none;
}

.suggested__sub_heading {
    //font-family: "Be Vietnam Pro", sans-serif;
    font-family: "Barlow", sans-serif;
    color: rgb(150, 150, 150);
    font-size: clamp(15px, 5vw, 1.75rem);
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.25px;
    margin-bottom: 3rem;
}

.suggested__items_container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15vh;
    .suggested__single__item {
        width: calc(92.5% / 4);
        display: flex;
        flex-direction: column;
        margin-bottom: 7.5vh;
        user-select: none;
        border: 1px solid rgb(225, 225, 225);
        border-bottom: 1px solid rgb(190, 190, 190);
        border-radius: 15px;
        // padding-bottom: 10px;
        transition: .175s ease-in-out;
        position: relative;
        img {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            width: 100%;
            display: flex;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
            aspect-ratio: 1.4/2;
            box-shadow: 1px 1px 3px rgb(200, 200, 200);
        }
        .element {
            position: relative;
            .element__description {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 10;
                width: 100%;
                height: 22.5%;
                //font-family: 'Switzer', sans-serif;
                //font-family: 'Geist', sans-serif;
                font-family: 'Onest', sans-serif;
                font-size: 200%;
                font-weight: 500;
                letter-spacing: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: transparent;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, transparent 50%);
                background-size: 100% 200%;
                background-position: top;
                cursor: pointer;
                transition: 0s backdrop-filter, .3s background;
            }
            &:hover {
                .element__description {
                    color: #fff;
                    background-position: bottom;
                    backdrop-filter: blur(10px);
                    transition: 0.75s backdrop-filter, .225s background;
                }
            }
        }
        .clothing__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 14px 12px;
            position: relative;
            .name {
                //font-family: "Inter", sans-serif;
                //font-family: 'Switzer', sans-serif;
                font-family: 'Geist', sans-serif;
                font-size: 1.5rem;
                font-weight: 600;
                letter-spacing: -0.5px;
                word-spacing: 3px;
                text-transform: uppercase;
                cursor: pointer;
            }
            .price {
                font-family: 'Onest', sans-serif;
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: 0px;
                color: rgb(125, 125, 125);
            }
        }
    }
}

//? MEDIA QUERIES
//! BREAKPOINT: 1536px
@media screen and (max-width: 1600px) {
    .product__container {
        width: 87.5%;
    }
    .links-container {
        margin-bottom: 4vh;
        margin-bottom: 2rem;
        &.additional-space {
            width: 87.5%;
            margin-top: 7rem;
        }
    }
    .suggested__items_container {
        width: 90%;
    }
    .product__info {
        .product__description h2 {
            white-space: nowrap;
        }
        .selector-container .buttons-wrapper .add_bag-button {
            width: 70%;
        }
    }
}

//! BREAKPOINT: 1440px
@media screen and (max-width: 1500px) {
    .product__container {
        width: 90%;
        .product {
            width: 50%;
        }
        .product__info {
            width: 50%;
            margin-right: -5%;
        }
    }
    .suggested__heading {
        font-size: 4.25rem;
    }
    .suggested__items_container {
        width: 95%;
        .suggested__single__item img {
            aspect-ratio: 1.4/2;
        }
    }
    .additional-info-container .additional-info-item .additional-info-textContent {
        font-size: 15px;
        line-height: 1.325;
    }
    .links-container {
        &.additional-space {
            width: 90%;
        }
    }
}

//? BREAKPOINT: 1366px
@media screen and (max-width: 1385px) {
    .links-container {
        &.additional-space {
            width: 90%;
            margin-top: 6.5rem;
            margin-bottom: 0;
        }
    }
    .product__container {
        margin-top: calc(1rem + 2px);
        .product .images-container .product-thumbnails {
            margin-right: 1rem;
            gap: 0.5rem;
        }
    }
    .product__info .product__description {
        h2 {
            font-size: 3rem;
        }
    }
    .product__info .selector-container .size-selector select {
        padding: 10px 8px;
    }
    .additional-info-container .additional-info-item {
        .additional-info-label {
            font-size: 16px;
        }
        .additional-info-textContent {
            font-size: 14px;
            letter-spacing: 0;
        }
    }
    .suggested__items_container .suggested__single__item {
        width: 24%;
        .clothing__info {
            .name {
                font-size: 23px;
            }
            .price {
                font-size: 21px;
            }
            .favorite-button .fav-icon {
                font-size: 22px;
            }
        }
    }
}

//? BREAKPOINT: 1280px x 720
@media screen and (max-width: 1285px) {
    .links-container {
        &.additional-space {
            width: 92.5%;
        }
    }
    .product__container {
        width: 92.5%;
        .product .images-container .product-thumbnails {
            margin-right: 1rem;
            img {
                height: 110px;
            }
        }
        .product__info {
            margin-right: -2.5%;
            .selector-container {
                width: 75%;
                .buttons-wrapper {
                    .add_bag-button {
                        font-size: 16px;
                        padding: 0.75rem 2.25rem;
                        .background {
                            width: 10px;
                            height: 10px;
                        }
                    }
                    .favorite-button,
                    .copy_link-button {
                        padding: 0.75rem;
                        .copy-icon,
                        .fav-icon {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
        .product__description {
            h2 {
                font-size: 2.75rem;
                line-height: 1.3;
                letter-spacing: -2.5px;
                margin-bottom: 0.25rem;
            }
            p {
                font-size: 30px;
            }
        }
        .quantity__selector {
            p {
                width: 3rem;
            }
            button {
                padding: 0.3rem;
                .icon {
                    font-size: 17px;
                }
            }
        }
    }
    .additional-info-container {
        width: 75%;
        .additional-info-item .additional-info-label {
            font-size: 16px;
            padding: 6px 10px;
        }
    }
    .suggested__items_container {
        width: 87.5%;
        .suggested__single__item {
            width: 31%;
            &:nth-of-type(4) {
                display: none;
            }
            .clothing__info {
                .name {
                    font-size: 23px;
                }
                .price {
                    font-size: 21px;
                }
                .favorite-button .fav-icon {
                    font-size: 22px;
                }
            }
        }
    }
    .suggested__heading {
        font-weight: 600;
    }
}

@media (max-width: 1200px) {
    .product__container {
        width: 95%;
        .product {
            width: 52.5%;
            .images-container {
                .product-thumbnails {
                    margin-right: 0.5rem;
                }
                .img-wrapper #imageBox {
                    height: 72.5vh;
                }
            }
        }
    }
    .product__info {
        width: 45%;
        margin-right: 0;
        .product__description {
            width: 97.5%;
            h2 {
                font-size: 2.6rem;
                line-height: calc(2.75rem * 1.1);
            }
        }
        .selector-container {
            width: 97.5%;
            .buttons-wrapper {
                .add_bag-button {
                    width: 82.5%;
                }
            }
        }
    }
    .additional-info-container {
        width: 97.5%;
    }
    .suggested__heading {
        font-size: 3.75rem;
    }
    .suggested__items_container {
        width: 97.5%;
        .suggested__single__item img {
            aspect-ratio: 1.5/2;
        }
    }
    .additional-info-container .additional-info-item .additional-info-textContent {
        font-size: 14px;
        line-height: calc(14px * 1.325);
    }
}

@media screen and (max-width: 900px) {
    .suggested__heading {
        font-size: 2.5rem;
        letter-spacing: -1.75px;
    }
    .suggested__items_container .suggested__single__item .clothing__info {
        padding-left: 0.4rem;
        .name {
            font-size: 16px;
            letter-spacing: -1px;
            word-spacing: 1px;
            margin-bottom: 0px;
        }
        .price {
            font-size: 18px;
        }
        .favorite-button {
            top: 92.5%;
            .fav-icon {
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 768px) {
    .product__container {
        width: 100%;
    }
    .product__info__paragraph {
        font-size: 14px;
        width: 90%;
    }
}

@media (max-width: 660px) {
    .suggested__heading {
        font-size: 2.15rem
    }
    .suggested__sub_heading {
        font-size: 1rem;
    }
    .suggested__items_container .suggested__single__item .clothing__info {
        padding-left: 0rem;
        align-items: center;
        .name {
            font-size: 14.75px;
            letter-spacing: -1px;
        }
        .price {
            font-size: 15px;
        }
        .favorite-button {
            display: none;
        }
    }
    .img-wrapper {
        display: none;
    }
    .img-container-mobile {
        width: 100%;
        display: block;
        display: none;
    }
    .img-container-mobile img {
        object-fit: cover;
        object-position: bottom;
        height: 55vh;
        width: 100%;
        max-width: 100%;
    }
    .product__description h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 7.5%;
        letter-spacing: 0.5px;
    }
    .product__description p {
        text-align: center;
        font-size: 1.5rem;
    }
    .product__button {
        color: #000;
        font-weight: 500;
        margin: 15% auto 10%;
    }
    .product__info ol {
        margin: 2.5% auto 10%;
    }
    .product__container {
        flex-direction: column;
        width: 100%;
    }
    .product__info {
        width: 92.5%;
        margin: 0 auto;
    }
    .img-wrapper {
        width: 100%;
        #imageBox {
            height: 55vh;
            width: 100%;
            max-width: 100%;
        }
    }
    .product-thumbnails {
        float: none;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .thumbnail-image {
            margin: 0;
            width: 33%;
            height: auto;
        }
    }
    .size__select,
    .quantity__selector {
        justify-content: center;
    }
    .product__info__paragraph,
    .size__guide {
        width: 90%;
        margin: 0 auto
    }
    .product__info h3 {
        text-align: center;
        margin-bottom: 10vh;
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 450px) {
    .links-container {
        justify-content: center;
        &.additional-space {
            width: 100%;
            margin-top: 5.25rem;
            margin-bottom: 0.75rem;
            .links-wrapper {
                p {
                    font-size: 16px;
                    letter-spacing: -0.25px;
                }
                span {
                    font-size: 15px;
                    padding: 0 0.25rem;
                }
            }
        }
    }
    .product__container {
        margin-bottom: 5vh;
        margin-top: 0.75rem;
        .product {
            width: 97.5%;
            margin: 0 auto;
            .images-container {
                flex-direction: column-reverse;
                .product-thumbnails {
                    width: 100%;
                    flex-direction: row;
                    scroll-snap-type: x mandatory;
                    scroll-padding: 0 24px;
                    overflow: auto;
                    flex-wrap: nowrap;
                    img {
                        scroll-snap-align: start;
                        height: auto;
                        width: 47.5%;
                        aspect-ratio: 1.25/1;
                        margin: 0.25rem 0.2rem;
                        &:first-of-type {
                            margin-top: 0.25rem;
                        }
                        &:last-of-type {
                            margin: 0.25rem 0.2rem;
                        }
                    }
                }
                .img-wrapper {
                    width: 100%;
                    margin: 0 auto;
                    #imageBox {
                        height: 55vh;
                        object-position: center;
                    }
                }
            }
        }
        .product__info {
            margin-top: 1.75rem;
            width: 95%;
            margin-right: auto;
            .product__description {
                width: 100%;
                h2 {
                    margin-top: 0rem;
                    margin-bottom: 0.25rem;
                }
                .brand {
                    margin: 0;
                }
            }
            .selector-container {
                width: 100%;
                .buttons-wrapper .add_bag-button {
                    width: 67.5%;
                }
            }
            .quantity__selector {
                margin: 0.5rem auto 1rem;
            }
        }
    }
    .additional-info-container,
    .product__info .selector-container {
        width: 100%;
    }
    .product__info .selector-container .buttons-wrapper .add_bag-button {
        width: 72.5%;
    }
    .suggested__heading {
        margin-top: 2.5vh;
    }
    .suggested__sub_heading {
        margin-bottom: 1.25rem;
    }
    .suggested__items_container {
        padding-bottom: 2.5vh;
        .suggested__single__item {
            width: 32%;
            &:nth-of-type(4) {
                display: none;
            }
        }
    }
    .product__container .product__info .selector-container .buttons-wrapper .favorite-button,
    .product__container .product__info .selector-container .buttons-wrapper .copy_link-button {
        padding: 0.85rem;
    }
}