/* Marquee styles */

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.marquee {
    --gap: 0rem;
    gap: var(--gap);
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 0;
    overflow-x: hidden;
    user-select: none;
    .marquee__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        animation: scroll 32.5s linear infinite forwards;
        animation-delay: 0.05s;
        .marquee__item {
            font-family: var(--font-geist), sans-serif;
            font-size: 4rem;
            font-weight: 600;
            flex: 0 0 auto;
            padding: 0 0.5rem;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            //letter-spacing: -1.5px; //-4px
        }
    }
}

//! SUMMER COLLECTION SECTION
.summer__section {
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15vh 0 17.5vh;
    .summer__left__section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        //margin: 0 auto;
        width: 40%;
        h2 {
            font-size: 5.5rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -3.25px;
            margin-bottom: 0.5rem;
        }
        p {
            font-family: var(--font-onest), sans-serif;
            font-size: 1.75rem;
            font-weight: 500;
            color: rgb(125, 125, 125);
            letter-spacing: -0.5px;
            margin: 0 0 2.25rem;
        }
        button {
            font-family: var(--font-barlow), sans-serif;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            border: 2px solid var(--black);
            padding: 1rem 3.25rem;
            border-radius: 10px;
            background-color: var(--black);
            color: var(--white);
            cursor: pointer;
        }
    }
    .summer__right__section {
        width: 57.5%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2.5rem;
        .product__tile {
            border: 2px solid rgb(225, 225, 225);
            height: 72.5vh;
            width: 47.5%;
            margin: 2.5rem 0;
            position: relative;
            border-radius: calc(15px + 2px); //+border-width
            overflow: hidden;
            //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            transition: 0.4s ease;
            &:hover {
                transform: translateY(-10px);
                border-color: rgb(200, 200, 200);
                //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
                .glass__box {
                    background: rgba(0, 0, 0, 0.775);
                    background: rgba(0, 0, 0, 0.925);
                }
            }
            .image-container {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                border-radius: 0;
                cursor: pointer;
                will-change: transform, opacity;
                //transition: .35s linear;
            }
            .glass__box {
                color: var(--white);
                z-index: 10;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: calc(100% + 0px);
                transform: translateX(calc(-50%));
                height: auto;
                background: rgba(11, 11, 11, 0.65);
                backdrop-filter: blur(10px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                padding: 1rem 0 1.5rem 1.75rem;
                text-align: left;
                border-bottom-left-radius: 17px;
                border-bottom-right-radius: 17px;
                user-select: none;
                transition: .4s ease;
                .company-name {
                    //font-family: "Be Vietnam Pro", sans-serif;
                    font-family: var(--font-barlow), sans-serif;
                    //font-family: 'Switzer', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
                h5 {
                    //font-family: "Urbanist", sans-serif;
                    font-family: var(--font-geist), sans-serif;
                    font-family: var(--font-onest), sans-serif;
                    font-size: 2.25rem;
                    font-weight: 600;
                    letter-spacing: 0px;
                    margin: 1.25rem 0 0.5rem;
                    cursor: pointer;
                }
                .slogan {
                    //font-family: 'Poppins';
                    font-family: var(--font-geist), sans-serif;
                    font-family: var(--font-onest), sans-serif;
                    font-size: 1.25rem;
                    font-weight: 300;
                    letter-spacing: -0.25px;
                }
            }
        }
    }
}

.item__description {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__name {
    font-weight: 700;
    font-size: 1.25rem;
}

.item__price {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(105, 105, 105);
}

.fixed__image {
    width: 100%;
    height: 55vh;
    clip-path: inset(0);
    overflow-x: hidden;
    .image {
        position: fixed !important;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 62.5vh;
    }
}

.parallax-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .parallax-section_text {
        position: relative;
        z-index: 10;
        padding: 2.5rem 1rem 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        mix-blend-mode: soft-light;
        mix-blend-mode: difference;
        user-select: none;
        p {
            font-family: var(--font-barlow), sans-serif;
            color: var(--white);
            width: 75%;
            font-size: 3vw;
            font-weight: 600;
            letter-spacing: -0.5px;
            line-height: 1.35;
            text-align: justify;
        }
        h3 {
            color: var(--white);
            opacity: 0.6;
            font-size: 12.5vw;
            width: auto;
        }
    }
    .img-container {
        position: fixed;
        height: 120vh;
        width: 100%;
        top: -10vh;
        left: 0;
        .img-wrapper {
            position: relative;
            width: 100%;
            will-change: transform;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                filter: grayscale(100%) brightness(75%);
                filter: grayscale(0%) brightness(65%);
            }
        }
    }
}

//! BREAKPOINT: 1536px
@media screen and (max-width: 1600px) {
    .summer__section {
        width: 92.5%;
        .summer__right__section {
            justify-content: flex-end;
            gap: 2rem;
            .product__tile {
                width: 49.5%;
                height: 70vh;
                margin: 2.5vh 0;
                &:nth-of-type(2) {
                    margin-left: 0vw;
                }
            }
        }
    }
}

//! BREAKPOINT: 1440px x 900
@media screen and (max-width: 1500px) {
    .summer__section {
        width: 95%;
        .summer__left__section {
            h2 {
                font-size: 5rem;
                line-height: 4.75rem;
            }
        }
        .summer__right__section {
            .product__tile {
                height: 67.5vh;
                width: 47.5%;
                // margin: 4vh 0;
                &:nth-of-type(2) {
                    margin-left: 0vw;
                }
                .glass__box {
                    padding-left: 1.25rem;
                    .slogan {
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

//! BREAKPOINT: 1366px x 768
@media screen and (max-width: 1370px) {
    .summer__section .summer__left__section {
        h2 {
            font-size: 4.75rem;
            line-height: 4.5rem;
            letter-spacing: -3.25px;
        }
        p {
            font-size: 1.5rem;
        }
        button {
            font-size: 17px;
            padding: 1rem 3rem;
        }
    }
    .summer__section .summer__right__section {
        gap: 1.5rem;
        .product__tile {
            height: 72.5vh;
            //height: 75vh;
            width: 48%;
            .glass__box {
                padding-left: 18px;
                padding-bottom: 1rem;
                h5 {
                    font-size: 2rem;
                    margin-top: 0.75rem;
                    margin-bottom: 0rem;
                }
            }
        }
    }
}

//? BREAKPOINT: 1280px x 720
@media screen and (max-width: 1285px) {
    .summer__section {
        .summer__left__section {
            width: 35%;
            h2 {
                font-size: 4.5rem;
                line-height: 4.25rem;
                letter-spacing: -3px;
            }
        }
        .summer__right__section {
            width: 60%;
            gap: 1.25rem;
            .product__tile .glass__box {
                .company-name {
                    font-size: 16px;
                }
                .slogan {
                    font-size: 18px;
                }
            }
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 550px) {
    .marquee .marquee__content {
        animation-duration: 12.5s;
        .marquee__item {
            font-size: 2rem;
        }
    }
    .summer__section {
        padding: 10vh 0 7.5vh;
        width: 97.5%;
        flex-direction: column;
        .summer__left__section {
            width: 100%;
            h2 {
                font-size: 3.825rem;
                font-weight: 700;
                line-height: 4.2rem;
                text-align: center;
                margin: 0 auto;
            }
            p {
                margin: 0.75rem auto 0.25rem;
            }
            button {
                width: 90%;
                margin: 1.5rem auto;
            }
        }
        .summer__right__section {
            margin-top: 3.75vh;
            width: 100%;
            flex-wrap: wrap;
            .product__tile {
                margin: 0.25rem auto;
                width: 95%;
                height: 57.5vh;
                &:nth-of-type(2) {
                    margin-left: auto !important;
                }
                .glass__box {
                    height: auto;
                    align-items: center;
                    padding: 1rem 0;
                    .company-name {
                        font-size: 15px;
                        opacity: 0.75;
                    }
                    h5 {
                        margin-top: 0.25rem;
                    }
                }
            }
        }
    }
    .parallax-section {
        display: none;
    }
}