.explore_brand-section {
    padding: 15vh 0 15vh;
    width: 90%;
    margin: 0 auto;
    h2 {
        font-family: 'Barlow', sans-serif;
        font-size: 6rem;
        font-weight: 600;
        color: var(--black);
        z-index: 75;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        article {
            margin: 7.5vh 0;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            .position {
                max-width: 550px;
                h5 {
                    font-family: 'Barlow', sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    font-variant: small-caps;
                    //color: rgb(35, 35, 35);
                    color: var(--dark-grey);
                    margin-bottom: 5px;
                    line-height: 1.5;
                    letter-spacing: 0.025em;
                }
                p {
                    font-family: 'Barlow', sans-serif;
                    color: rgb(135, 135, 135);
                    text-wrap: balance;
                    line-height: 1.4;
                    letter-spacing: 0.0125em;
                }
            }
        }
        aside {
            margin-top: -17.5%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;
            .image_wrapper {
                overflow: hidden;
                border: 1px solid red;
                img {
                    will-change: transform;
                }
                &:hover {
                    img {
                        transform: scale(1.04);
                    }
                }
            }
            img {
                object-fit: cover;
                height: 40%;
                width: auto;
                //transition: .45s ease;
                //transition-delay: 0.025s;
                &.image_2 {
                    position: absolute;
                    top: 25%;
                    right: 87.5%;
                    z-index: 10;
                    min-width: 325px;
                    min-height: 450px;
                }
                &.image_3 {
                    position: relative;
                    z-index: 15;
                }
                &.image_4 {
                    position: absolute;
                    z-index: 5;
                    bottom: -7%;
                    left: -90%;
                    min-width: 340px;
                    min-height: 425px;
                }
            }
        }
    }
}

//! BREAKPOINT: 1566px x 864
@media screen and (max-width: 1600px) {
    .explore_brand-section {
        width: 92.5%;
        main aside img {
            height: 35%;
            &.image_1 {
                width: 275px;
            }
            &.image_2 {
                min-width: 300px;
                min-height: 400px;
                right: 70%;
            }
            &.image_3 {
                width: 250px;
                margin-top: 2.5%;
            }
            &.image_4 {
                min-width: 280px;
                min-height: 350px;
                bottom: -27.5%;
                left: -97.5%;
            }
        }
    }
}

//! BREAKPOINT: 1440px
@media screen and (max-width: 1500px) {
    .explore_brand-section {
        h2 {
            letter-spacing: -0.75px;
        }
        main aside img {
            height: 35%;
            &.image_1 {
                width: 260px;
                margin-right: -7.5%;
            }
            &.image_2 {
                min-width: 260px;
                min-height: 360px;
                right: 62.5%;
            }
            &.image_3 {
                width: 240px;
                min-height: 320px;
                margin-top: 2.5%;
                margin-right: -7.5%;
            }
            &.image_4 {
                min-width: 250px;
                min-height: 330px;
                bottom: -22.5%;
                left: -87.5%;
            }
        }
    }
}

//? BREAKPOINT: 1366px
@media screen and (max-width: 1370px) {
    .explore_brand-section {
        h2 {
            font-size: 5.25rem;
        }
        main aside img {
            &.image_3 {
                width: 240px;
                min-height: 320px;
                margin-top: 2%;
                margin-right: -7.5%;
            }
            &.image_4 {
                min-width: 250px;
                min-height: 330px;
                bottom: -22.5%;
                left: -87.5%;
            }
        }
    }
}

//? BREAKPOINT: 1280px x 720
@media screen and (max-width: 1285px) {
    .explore_brand-section {
        h2 {
            font-size: 4.75rem;
        }
        main aside img {
            &.image_1 {
                width: 260px;
                margin-right: -7.5%;
            }
            &.image_2 {
                min-width: 260px;
                min-height: 360px;
                right: 62.5%;
            }
            &.image_3 {
                width: 240px;
                min-height: 320px;
                margin-top: 2.5%;
                margin-right: -7.5%;
            }
            &.image_4 {
                min-width: 250px;
                min-height: 330px;
                bottom: -22.5%;
                left: -87.5%;
            }
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 550px) {
    .explore_brand-section {
        padding: 7.5vh 0 10vh;
        h2 {
            font-size: 3.25rem;
            letter-spacing: -0.25px;
            text-align: center;
        }
        main {
            flex-direction: column;
            gap: 5vh;
            article {
                margin: 5vh auto 0;
                text-align: justify;
                gap: 1.75rem;
            }
            aside {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 0;
                gap: 0.25%;
                flex-wrap: wrap;
                img {
                    //display: none;
                    min-width: unset !important;
                    min-height: unset !important;
                    width: 49.5% !important;
                    position: static !important;
                    height: 25vh !important;
                    margin: 0 !important;
                    margin-bottom: 0.25rem !important;
                }
            }
        }
    }
}