//! MAILING MODAL
#mailing__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.885);
    .modal_image-wrapper {
        height: 100%;
        width: 50%;
        background-color: #000;
        position: relative;
        img {
            position: absolute;
            top: 35%;
            left: 32.5%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            height: 62.5%;
            width: 55%;
            z-index: 4;
            transition: .375s ease;
            &:nth-of-type(2) {
                height: 55%;
                width: 47.5%;
                top: 67.5%;
                left: 70%;
                z-index: 5;
            }
        }
    }
    .modal_info-wrapper {
        width: 50%;
        .modal_heading {
            font-family: var(--font-geist), sans-serif;
            font-size: 1.75rem;
            font-weight: 700;
            margin-top: 0.75rem;
            word-spacing: 0.5px;
            letter-spacing: -0.5px;
            text-align: center;
            text-transform: uppercase;
        }
        .modal_description {
            width: 90%;
            font-family: var(--font-geist), sans-serif;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.25px;
            margin: 1rem auto;
            line-height: 1.35;
            text-align: center;
            color: rgb(115, 115, 115);
            span {
                font-weight: 600;
                color: #000;
            }
        }
        form {
            label {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                #modalInput {
                    margin: 0.5rem auto 0;
                    width: 70%;
                    border: 1px solid rgb(125, 125, 125);
                    background: transparent;
                    padding: 0.75rem 1rem;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                    outline: none;
                    transition: .2s ease;
                    &:hover {
                        border-color: rgb(0, 0, 0);
                    }
                    &:focus,
                    &:focus-within {
                        border-color: rgb(0, 0, 0);
                    }
                }
                .modalButton {
                    font-family: var(--font-geist), sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: 0.75px;
                    margin: 0.75rem auto;
                    width: 70%;
                    border: 1px solid #000;
                    padding: 0.75rem 1rem;
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                    transition: .3s ease;
                    &:hover {
                        background-color: rgb(30, 30, 30);
                    }
                }
                .modal_rules {
                    color: rgb(35, 35, 35);
                    font-family: var(--font-barlow), sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: justify;
                    width: 70%;
                    margin: 0 auto;
                    span {
                        color: rgb(100, 100, 100);
                        font-weight: 600;
                        border-bottom: 1px solid #000;
                        cursor: pointer;
                    }
                }
            }
        }
        .modal__icons {
            display: flex;
            justify-content: space-around;
            align-self: center;
            flex-direction: row;
            margin: 2.5rem auto 0;
            width: 75%;
            .icon {
                font-size: 26px;
                color: rgb(125, 125, 125);
                cursor: pointer;
                transition: 0.25s ease;
                &:hover {
                    color: black;
                    transform: translateY(-2px) scale(1.15);
                }
            }
        }
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-25%, 25%);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        border-radius: 50%;
        padding: 4px;
        user-select: none;
        cursor: pointer;
        transition: .2s ease-in-out;
        &:hover {
            color: #fff;
            background-color: #000;
            scale: 1.06;
        }
    }
}