//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Urbanist:wght@100..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
//@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
//@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Manrope:wght@200..800&family=Onest:wght@100..900&family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
//switzer
@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

* {
    // font-family: 'Exo 2', sans-serif;
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Roboto Flex', sans-serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Be Vietnam Pro', sans-serif;
    //! font-family: 'Inter', sans-serif;
    font-family: 'Geist', sans-serif;
    //! font-family: 'Switzer', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    &::selection {
        background-color: #000;
        color: #fff;
    }
}

html,
body {
    max-width: 100vw;
    //overflow-x: hidden;
    background-color: #fff;
    color: #000;
    scrollbar-color: rgb(125, 125, 125) white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
span {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

img,
button {
    user-select: none;
}

ul,
li {
    list-style: none;
}

.introduction-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    cursor: none;
    .typing-effect {
        display: flex;
        align-items: center;
        animation: hideElement .0s forwards;
        animation-delay: 2.1s;
        .text {
            font-size: 3rem;
            font-weight: 600;
            color: #fff;
            letter-spacing: 1px;
            border-right: 4px solid;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 auto;
            animation: typing 1.9s steps(29), cursor .4s step-end infinite alternate;
        }
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
        @keyframes cursor {
            50% {
                border-color: transparent;
            }
        }
    }
    h2 {
        // font-size: clamp(2.25rem, 7.5vw, 10rem);
        font-size: 18vw;
        color: #00008B;
        //color: #0a00c1;
        color: #FFF;
        position: absolute;
        top: 17.5%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        line-height: 1;
        user-select: none;
        opacity: 0;
        animation: showHeading .0s forwards;
        // animation-delay: 2.15s;
        animation-delay: 2.75s;
        &:nth-of-type(2) {
            color: rgb(135, 135, 135);
            top: 32.5%;
            clip-path: inset(47.5% 0 0 0);
            animation-delay: 2.45s; //0.12s
        }
        &:nth-of-type(3) {
            color: rgb(90, 90, 90);
            top: 44.25%;
            clip-path: inset(60% 0 0 0);
            //  animation-delay: 2.75s;
            animation-delay: 2.2s;
        }
        /* &:nth-of-type(4) {
            color: #FFF;
            color: #0a00c1;
            top: 47.5%;
            clip-path: inset(65% 0 0 0);
            animation-delay: 2.7s;
        } */
    }
    @keyframes showHeading {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes hideElement {
        100% {
            opacity: 0;
        }
    }
}

.fixed-brand {
    display: none;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1.25px;
    position: fixed;
    top: 4vh;
    left: 0;
    left: 6.25%;
    margin: 0 auto;
    z-index: 999;
    color: #fff;
    mix-blend-mode: difference;
}

//! 404 PAGE
.not-found-container {
    background-color: #000;
    color: #FFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    h2 {
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    h6 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 10rem;
        letter-spacing: -0.75px;
    }
    .not-found-brand {
        font-family: "Be Vietnam Pro", sans-serif;
        position: absolute;
        font-weight: 300;
        bottom: 3%;
        font-size: 1.6rem;
        letter-spacing: 2.5px;
    }
}