//@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
//------------------------
//? Switzer

/*
@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/font/Switzer-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}*/

//color: rgb(11, 11, 1117);
$color-black: #0b0b0b; //Onyx - 17,17,17 NOW(11,11,11)
$color-white: #f6f6f6; //off-white
$color-blue: #081fca; //Rich Blue #012afe
$color-dark-grey: #353535;
$color-casper: #ABBBCB;
:root {
    --black: #0b0b0b;
    --white: #f6f6f6;
    //--blue: #012afe;
    --blue: #081fca;
    --dark-grey: #353535;
    --casper: #ABBBCB;
}

* {
    font-family: var(--font-geist), sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    &::selection {
        background-color: #000;
        color: #fff;
    }
}

html,
body {
    //overflow-x: hidden;
    max-width: 100vw;
    background-color: $color-white;
    color: $color-black;
    scrollbar-color: rgb(85, 85, 85) $color-white;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
}

a,
span {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

img,
button {
    user-select: none;
}

ul,
li {
    list-style: none;
}

.top_info-bar {
    display: none;
}

.custom-toast {
    width: fit-content !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: transform !important;
}

.fixed-brand {
    display: none;
    font-family: var(--font-geist), sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1.25px;
    position: fixed;
    top: 4vh;
    left: 0;
    left: 6.25%;
    margin: 0 auto;
    z-index: 999;
    color: #fff;
    mix-blend-mode: difference;
}