.navbar {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    padding: 1rem 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(20px);
    //transition: transform 0.175s ease-in-out, box-shadow 0.175s ease-in-out;
    transition: .2s ease;
    .mobile_menu {
        //display: none; //none    align-items: center;
        position: fixed;
        z-index: 10000000;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        width: 100%;
        height: 100vh;
        font-size: 1rem;
        color: #fff;
        background: rgb(5, 5, 5);
        display: flex;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        will-change: transform, opacity;
        transition: transform 0.275s ease, opacity 0.275s ease;
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
        .close-icon {
            color: rgb(225, 225, 225);
            position: absolute;
            top: 2.5rem;
            right: 1.25rem;
            font-size: 2.75rem;
            cursor: pointer;
            transition: color 0.3s ease;
            &:hover {
                color: rgb(150, 150, 150);
            }
        }
        .mobile-links-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            .mobile-link {
                color: rgb(250, 250, 250);
                font-family: var(--font-geist), sans-serif;
                font-size: 2.25rem;
                font-weight: 600;
                letter-spacing: 1px;
                padding: 0.25rem;
                margin: 0.75rem 0;
                transition: color 0.3s ease;
                &:hover {
                    color: rgb(150, 150, 150);
                }
            }
        }
        .mobile-brand {
            font-family: var(--font-geist), sans-serif;
            font-size: 2.75rem;
            font-weight: 700;
            letter-spacing: 2px;
            color: rgb(40, 40, 40);
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .navbar-container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        .navbar_menu-wrapper {
            display: none;
            .navbar_menu {
                display: none;
            }
        }
        .navbar_links-container {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-direction: row;
            .logo {
                //* font-family: 'Manrope', sans-serif;
                font-family: var(--font-geist), sans-serif;
                font-size: 2.25rem;
                font-weight: 700;
                //* fix letter-spacing
                letter-spacing: 0.5px;
                color: #fff;
                margin-right: 5.5rem;
                user-select: none;
                cursor: pointer;
                transition: .275s ease;
                transition-delay: .075s;
                &:hover {
                    color: #fff !important;
                }
            }
            .navbar_links-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2.5rem;
                .navbar-link {
                    //font-family: 'Switzer', sans-serif;
                    //font-family: 'Manrope', sans-serif;
                    //font-family: var(--font-geist), sans-serif;
                    //font-family: 'Urbanist', sans-serif;
                    //font-family: 'Outfit', sans-serif;
                    font-family: var(--font-onest), sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.25px;
                    color: rgb(180, 180, 180);
                    padding: 1px;
                    display: flex;
                    position: relative;
                    list-style: none;
                    user-select: none;
                    cursor: pointer;
                    transition: 0.3s ease;
                    &.active {
                        //color: lime;
                        color: rgb(245, 245, 245);
                        //border-top: 1px solid white;
                        //font-weight: 500;
                        // padding-top: 4px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        width: 100%;
                        height: 1px;
                        background-color: #fff;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.275s ease;
                    }
                    &:hover {
                        color: #fff;
                        transform: translateY(-2px);
                        &::after {
                            transform: scaleX(1);
                            transform-origin: left;
                            transition: transform 0.325s ease-in;
                            transition-delay: .15s;
                        }
                    }
                }
            }
            .navbar_links-wrapper:has(.navbar-link:hover) .navbar-link:not(:hover) {
                filter: blur(2px);
                transition: 0.2s ease-in-out;
            }
        }
        .navbar_icons-wrapper {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
            .fav-icon {
                font-size: 22px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: color .225s ease, transform .25s ease;
                transition-delay: .05s;
                &.cart {
                    position: relative;
                    &::after {
                        content: attr(cart-length);
                        font-family: var(--font-geist), sans-serif;
                        font-size: 17px;
                        font-weight: 500;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 100000;
                        transform: translate(100%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        color: #fff;
                        transition: color .225s ease, transform .25s ease;
                        transition-delay: .05s;
                    }
                    &:hover {
                        &::after {
                            transform: translate(100%, calc(-50% + 2px));
                        }
                    }
                }
                &:hover {
                    color: rgb(175, 175, 175);
                    transform: translateY(-2px);
                }
            }
        }
    }
}

.navbar--show {
    transform: translateY(0);
}

.navbar--hide {
    transform: translateY(-100%);
    box-shadow: none;
}

.video-text {
    font-size: 9.5rem;
    font-weight: 500;
    letter-spacing: 8px;
}

//? BREAKPOINT: 1536px
@media screen and (max-width: 1600px) {
    .navbar {
        .navbar-container {
            width: 90%;
            .navbar_links-container .logo {
                margin-right: 3.25rem;
            }
        }
    }
}

//? BREAKPOINT: 1280px x 720
@media screen and (max-width: 1285px) {
    .navbar {
        padding: 14px 0;
        .navbar-container {
            width: 92.5%;
        }
    }
}

//* iPhone 15 Pro Max
@media screen and (max-width: 550px) {
    .navbar {
        padding: 16px 0;
        .navbar-container {
            width: 95%;
            align-items: center;
            .navbar_menu-wrapper {
                display: flex;
                align-items: flex-start;
                width: 25%;
                .navbar_menu {
                    display: flex;
                    font-size: 30px;
                    //font-size: 2rem;
                    color: #fff;
                    user-select: none;
                    cursor: pointer;
                }
            }
            .navbar_links-container {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                .logo {
                    font-size: 2rem;
                    font-size: 29px;
                    font-weight: 600;
                    letter-spacing: 0.75px;
                    margin-right: 0;
                }
                .navbar_links-wrapper {
                    display: none;
                }
            }
            .navbar_icons-wrapper {
                //width: 25%;
                width: auto;
                gap: 0.75rem;
                gap: 14px;
                .fav-icon {
                    font-size: 18px;
                    //margin: 0 0.25rem;
                    &.cart {
                        &::after {
                            font-size: 14px;
                            transform: translate(80%, -50%) !important;
                        }
                    }
                    &#searchIcon {
                        display: none;
                    }
                }
            }
        }
    }
}

//* iPhone 15 Pro
@media screen and (max-width: 400px) {
    .navbar .navbar-container {
        .navbar_menu-wrapper .navbar_menu {
            font-size: 28px;
        }
        .navbar_icons-wrapper .fav-icon {
            font-size: 17px;
        }
        .navbar_icons-wrapper .fav-icon.cart::after {
            font-size: 12px;
            transform: translate(62.5%, -50%) !important;
        }
        .navbar_links-container .logo {
            font-size: 27px;
            font-weight: 500;
            letter-spacing: 0px;
        }
    }
}